* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;

}

.container {
    background-color: rgb(215, 250, 249);
    height: 4em;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

header {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    align-items: center;
    align-content: flex-end;
    background-color: orange;
    
}