* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;

}

.flexcontainer1 {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 2em;
    background-color: orange;
    margin: 1em auto;
    align-items: center;
    border:dashed 2px black ;
    padding-left: 1em;
    padding-right: 1em;
}

.flexcontainer2 {
    display: flex;
    background-color: blue;
    width: 100vw;
    height: 60vh;
    margin-bottom: 0.3em;
    justify-content: center;
    align-items: center;
}

nav {
    width: 40vw;
    height: 2em;
    padding: 0.3em;
    text-align: center;
    border: dashed 2px black;
}

header {
display: flex; 
flex-direction: column;  
background-color: rgb(181, 210, 236);
}


.pink {
    background-color:palevioletred;
    height: 45vh;
    width: 50vw;
    
}

.celeste {
    background-color: aqua;
    width: 35vw;
    height: 45vh;;
}

.bianca {
    display: flex;
    background-color: white;
    width: 100vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.grigia {

    display: flex;
    background-color: rgb(152, 152, 152);
    width: 100vw;
    height: 60vh;
    align-items: center;
    justify-content: center;

}